In [1]:
# IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# LOADING DATASETS

df_diabetes = pd.read_sas("data_files/P_DIQ_Diabetes.XPT")

df_diet = pd.read_sas("data_files/P_DBQ_Diet.XPT")

df_demo = pd.read_sas("data_files/P_DEMO_Demographics.XPT")

df_activity = pd.read_sas("data_files/P_PAQ_Activity.XPT")

df_body = pd.read_sas("data_files/P_BMX_BodyMes.XPT")

df_alc = pd.read_sas("data_files/P_ALQ_Alcohol.XPT")

## Renaming column names

In [3]:
#  DIABETES
new_diabetes_column_names = {
    'SEQN': 'Respondent_ID',
    'DIQ010': 'Doctor_Told_Diabetes',
    'DID040': 'Age_When_First_Told_Diabetes',
    'DIQ159': 'Check_Item_1',
    'DIQ160': 'Ever_Told_Prediabetes',
    'DIQ180': 'Had_Blood_Test_Past_Three_Years',
    'DIQ050': 'Taking_Insulin_Now',
    'DID060': 'How_Long_Taking_Insulin',
    'DIQ060U': 'Insulin_Duration_Unit',
    'DIQ065': 'Check_Item_2',
    'DIQ070': 'Take_Diabetic_Pills',
    'DIQ229': 'Check_Item_3',
    'DIQ230': 'Time_Since_Saw_Diabetes_Specialist',
    'DIQ240': 'One_Doctor_For_Diabetes',
    'DID250': 'Times_Seen_Doctor_Past_Year',
    'DID260': 'How_Often_Check_Blood_Glucose',
    'DIQ260U': 'Blood_Glucose_Check_Unit',
    'DIQ275': 'Dr_Checked_A1C_Past_Year',
    'DIQ280': 'Last_A1C_Level',
    'DIQ291': 'Dr_Recommended_A1C',
    'DIQ295': 'Check_Item_4',
    'DIQ300S': 'Recent_SBP',
    'DIQ300D': 'Recent_DBP',
    'DID310S': 'Dr_Recommended_SBP',
    'DID310D': 'Dr_Recommended_DBP',
    'DID320': 'Most_Recent_LDL_Number',
    'DID330': 'Dr_Recommended_LDL',
    'DID341': 'Times_Dr_Checked_Feet_For_Sores',
    'DID350': 'How_Often_Check_Feet',
    'DIQ350U': 'Feet_Check_Unit',
    'DIQ360': 'Last_Pupil_Dilation_Date',
    'DIQ080': 'Diabetes_Affected_Eyes_Retinopathy'
}

# Renaming the columns
df_diabetes.rename(columns=new_diabetes_column_names, inplace=True)

In [4]:
# DIET

new_diet_column_names= {
    'SEQN': 'Respondent_ID',
    'DBQ010': 'Ever_Breastfed_or_Fed_Breastmilk',
    'DBD030': 'Age_Stopped_Breastfeeding_Days',
    'DBD041': 'Age_First_Fed_Formula_Days',
    'DBD050': 'Age_Stopped_Receiving_Formula_Days',
    'DBD055': 'Age_Started_Other_Food_Beverage',
    'DBD061': 'Age_First_Fed_Milk_Days',
    'DBQ073A': 'Type_of_Milk_First_Fed_Whole_Milk',
    'DBQ073B': 'Type_of_Milk_First_Fed_2_Percent_Milk',
    'DBQ073C': 'Type_of_Milk_First_Fed_1_Percent_Milk',
    'DBQ073D': 'Type_of_Milk_First_Fed_Fat_Free_Milk',
    'DBQ073E': 'Type_of_Milk_First_Fed_Soy_Milk',
    'DBQ073U': 'Type_of_Milk_First_Fed_Other',
    'DBD085': 'Check_Item_1',
    'DBQ700': 'How_Healthy_is_the_Diet',
    'DBQ197': 'Past_30_Day_Milk_Product_Consumption',
    'DBQ223A': 'You_Drink_Whole_or_Regular_Milk',
    'DBQ223B': 'You_Drink_2_Percent_Fat_Milk',
    'DBQ223C': 'You_Drink_1_Percent_Fat_Milk',
    'DBQ223D': 'You_Drink_Fat_Free_Skim_Milk',
    'DBQ223E': 'You_Drink_Soy_Milk',
    'DBQ223U': 'You_Drink_Another_Type_of_Milk',
    'DBD225': 'Check_Item_2',
    'DBQ229': 'Regular_Milk_Use_5_Times_Per_Week',
    'DBQ235A': 'How_Often_Drank_Milk_Age_5_12',
    'DBQ235B': 'How_Often_Drank_Milk_Age_13_17',
    'DBQ235C': 'How_Often_Drank_Milk_Age_18_35',
    'DBD265a': 'Check_Item_3',
    'DBQ301': 'Community_Government_Meals_Delivered',
    'DBQ330': 'Eat_Meals_at_Community_Senior_Center',
    'DBD355': 'Check_Item_4',
    'DBQ360': 'Attend_Kindergarten_Thru_High_School',
    'DBQ370': 'School_Serves_School_Lunches',
    'DBD381': 'Number_of_Times_Per_Week_Get_School_Lunch',
    'DBQ390': 'School_Lunch_Free_Reduced_Full_Price',
    'DBQ400': 'School_Serve_Complete_Breakfast_Each_Day',
    'DBD411': 'Number_of_Times_Per_Week_Get_School_Breakfast',
    'DBQ421': 'School_Breakfast_Free_Reduced_Full_Price',
    'DBQ422': 'Check_Item_5',
    'DBQ424': 'Summer_Program_Meal_Free_Reduced_Price',
    'DBD895': 'Meals_Outside',
    'DBD900': 'FastFood_Meals',
    'DBD905': 'Ready_Eat_Foods_30D',
    'DBD910': 'Frozen_Meals_30D',
    'DBQ715a': 'Check_Item_6',
    'CBQ596': 'Heard_of_My_Plate',
    'CBQ606': 'Looked_Up_My_Plate_on_Internet',
    'CBQ611': 'Tried_My_Plate_Plan',
    'DBQ930': 'Main_Meal_Planner_Preparer',
    'DBQ935': 'Shared_Meal_Planning_Preparing_Duty',
    'DBQ940': 'Main_Food_Shopper',
    'DBQ945': 'Shared_Food_Shopping_Duty'
    }

df_diet.rename(columns=new_diet_column_names, inplace=True)

In [5]:
# DEMOGRAPHICS
new_demo_column_names = {
    'SEQN': 'Respondent_ID',
    'SDDSRVYR': 'Data_Release_Cycle',
    'RIDSTATR': 'Interview_Examination_Status',
    'RIAGENDR': 'Gender',
    'RIDAGEYR': 'Age_Years',
    'RIDAGEMN': 'Age_Months_Screening_0_24_Mos',
    'RIDRETH1': 'Race_Hispanic_Origin',
    'RIDRETH3': 'Race',
    'RIDEXMON': 'Six_Month_Time_Period',
    'DMDBORN4': 'Country_of_Birth',
    'DMDYRUSZ': 'Length_of_Time_in_US',
    'DMDEDUC2': 'Education_Level_Adults_20',
    'DMDMARTZ': 'Marital_Status',
    'RIDEXPRG': 'Pregnancy_Status_at_Exam',
    'SIALANG': 'Language_of_SP_Interview',
    'SIAPROXY': 'Proxy_Used_in_SP_Interview',
    'SIAINTRP': 'Interpreter_Used_in_SP_Interview',
    'FIALANG': 'Language_of_Family_Interview',
    'FIAPROXY': 'Proxy_Used_in_Family_Interview',
    'FIAINTRP': 'Interpreter_Used_in_Family_Interview',
    'MIALANG': 'Language_of_MEC_Interview',
    'MIAPROXY': 'Proxy_Used_in_MEC_Interview',
    'MIAINTRP': 'Interpreter_Used_in_MEC_Interview',
    'AIALANGA': 'Language_of_ACASI_Interview',
    'WTINTPRP': 'Full_Sample_Interview_Weight',
    'WTMECPRP': 'Full_Sample_MEC_Exam_Weight',
    'SDMVPSU': 'Masked_Variance_Pseudo_PSU',
    'SDMVSTRA': 'Masked_Variance_Pseudo_Stratum'
}


df_demo.rename(columns = new_demo_column_names, inplace=True)

In [6]:
# ACTIVITY

new_activity_column_names = {
'SEQN': 'Respondent_ID',
'PAQ605': 'Vigorous work activity',
'PAQ610': 'Number of days vigorous work',
'PAD615': 'Minutes vigorous-intensity work',
'PAQ620': 'Moderate work activity',
'PAQ625': 'Number of days moderate work',
'PAD630': 'Minutes moderate-intensity work',
'PAQ635': 'Walk or bicycle',
'PAQ640': 'Number of days walk or bicycle',
'PAD645': 'Minutes walk/bicycle for transportation',
'PAQ650': 'Vigorous recreational activities',
'PAQ655': 'Days vigorous recreational activities',
'PAD660': 'Minutes vigorous recreational activities',
'PAQ665': 'Moderate recreational activities',
'PAQ670': 'Days moderate recreational activities',
'PAD675': 'Minutes moderate recreational activities',
'PAD680': 'Minutes sedentary activity'
}


df_activity.rename(columns = new_activity_column_names, inplace=True)

In [7]:
# BODY MEASUREMENTS

new_body_column_names = {
    'SEQN': 'Respondent_ID',
    'BMDSTATS': 'Body Measures Component Status Code',
    'BMXWT': 'Weight (kg)',
    'BMIWT': 'Weight Comment',
    'BMXRECUM': 'Recumbent Length (cm)',
    'BMIRECUM': 'Recumbent Length Comment',
    'BMXHEAD': 'Head Circumference (cm)',
    'BMIHEAD': 'Head Circumference Comment',
    'BMXHT': 'Standing Height (cm)',
    'BMIHT': 'Standing Height Comment',
    'BMXBMI': 'Body Mass Index (kg/m**2)',
    'BMDBMIC': 'BMI Category - Children/Youth',
    'BMXLEG': 'Upper Leg Length (cm)',
    'BMILEG': 'Upper Leg Length Comment',
    'BMXARML': 'Upper Arm Length (cm)',
    'BMIARML': 'Upper Arm Length Comment',
    'BMXARMC': 'Arm Circumference (cm)',
    'BMIARMC': 'Arm Circumference Comment',
    'BMXWAIST': 'Waist Circumference (cm)',
    'BMIWAIST': 'Waist Circumference Comment',
    'BMXHIP': 'Hip Circumference (cm)',
    'BMIHIP': 'Hip Circumference Comment'
}


df_body.rename(columns=new_body_column_names, inplace=True)

In [8]:
# ALCOHOL

new_alc_column_names = {
    'SEQN': 'Respondent_ID',
    'ALQ111': 'Ever Had a Drink of Any Kind of Alcohol',
    'ALQ121': 'Past 12 Months Frequency of Drinking Alcoholic Beverages',
    'ALQ130': 'Average Number of Alcoholic Drinks/Day in Past 12 Months',
    'ALQ142': 'Number of Days with 4 or 5 Drinks in Past 12 Months',
    'ALQ270': 'Number of Times 4-5 Drinks in 2 Hours in Past 12 Months',
    'ALQ280': 'Number of Times 8+ Drinks in 1 Day in Past 12 Months',
    'ALQ290': 'Number of Times 12+ Drinks in 1 Day in Past 12 Months',
    'ALQ151': 'Ever Had 4/5 or More Drinks Every Day',
    'ALQ170CK': 'CHECK ITEM',
    'ALQ170': 'Past 30 Days Number of Times 4-5 Drinks on an Occasion'
}

df_alc.rename(columns=new_alc_column_names, inplace=True)

## Dropping columns & Cleaning

In [9]:
# DIABETES DROPPING
# List of columns to keep
columns_to_keep_diabetes = ['Respondent_ID', 
                            'Doctor_Told_Diabetes']

# Drop columns not in the list
df_diabetes = df_diabetes[columns_to_keep_diabetes]

In [10]:
# DIET DROPPING
# List of columns to keep
columns_to_keep_diet = ["Respondent_ID",
                        "Meals_Outside",
                        "FastFood_Meals", 
                        "Ready_Eat_Foods_30D",
                        "Frozen_Meals_30D"]

# Drop columns not in the list
df_diet = df_diet[columns_to_keep_diet]

In [11]:
# DEMO DROPPING
# List of columns to keep
columns_to_keep_demo = ['Respondent_ID', 
                            'Gender', 
                            'Age_Years', 
                            'Race']

# Drop columns not in the list
df_demo = df_demo[columns_to_keep_demo]

In [12]:
# ACTIVITY DROPPING
# List of columns to keep
columns_to_keep_activity = ["Respondent_ID",
                            'Vigorous work activity',
                            'Walk or bicycle',
                            'Vigorous recreational activities']
# Drop columns not in the list

df_activity = df_activity[columns_to_keep_activity]

In [13]:
# BODY MEASUREMENTS DROPPING
# List of columns to keep
columns_to_keep_body = ["Respondent_ID",
                        'Body Mass Index (kg/m**2)',
                        'Waist Circumference (cm)',
                        'Hip Circumference (cm)']
# Drop columns not in the list
df_body = df_body[columns_to_keep_body]

In [14]:
# ALCOHOL DROPPING
# List of columns to keep
columns_to_keep_alc = ["Respondent_ID",
                       'Past 12 Months Frequency of Drinking Alcoholic Beverages']

# Drop columns not in the list
df_alc = df_alc[columns_to_keep_alc]

## Merging the datasets

In [15]:
# Merge df_diabetes and df_diet on 'Respondent_ID'
df_merged = pd.merge(df_diabetes, df_diet, on='Respondent_ID')

# Merge df_demo on 'Respondent_ID' with the already merged DataFrame
df_merged = pd.merge(df_merged, df_demo, on='Respondent_ID')

# Merge 'df_activity' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_activity, on='Respondent_ID')

# Merge 'df_body' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_body, on='Respondent_ID')

# Merge 'df_alc' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_alc, on='Respondent_ID')

# Dropping ID column. Not predictive
df_merged = df_merged.drop('Respondent_ID', axis=1)

In [16]:
df_merged.head()

,Doctor_Told_Diabetes,Meals_Outside,FastFood_Meals,Ready_Eat_Foods_30D,Frozen_Meals_30D,Gender,Age_Years,Race,Vigorous work activity,Walk or bicycle,Vigorous recreational activities,Body Mass Index (kg/m**2),Waist Circumference (cm),Hip Circumference (cm),Past 12 Months Frequency of Drinking Alcoholic Beverages
0,2.0,7.000000e+00,5.397605e-79,5.397605e-79,5.000000e+00,2.0,29.0,6.0,2.0,2.0,1.0,37.8,117.9,126.1,1.000000e+01
1,2.0,2.000000e+00,2.000000e+00,5.397605e-79,5.397605e-79,1.0,49.0,3.0,2.0,2.0,2.0,29.7,120.4,108.2,5.397605e-79
2,2.0,2.000000e+00,2.000000e+00,5.397605e-79,7.000000e+00,1.0,36.0,3.0,1.0,2.0,2.0,21.9,86.8,94.5,5.397605e-79
3,1.0,5.397605e-79,NaN,5.397605e-79,5.397605e-79,1.0,68.0,7.0,1.0,1.0,2.0,30.2,109.6,107.8,4.000000e+00
4,2.0,1.000000e+00,1.000000e+00,1.000000e+00,8.000000e+00,1.0,76.0,3.0,2.0,2.0,2.0,26.6,NaN,NaN,5.397605e-79

In [17]:
# Define a small threshold value
threshold = 1e-10  # for example, numbers smaller than this are considered as zero

# Apply a function that sets values below the threshold to zero
df_merged = df_merged.applymap(lambda x: 0 if np.abs(x) < threshold else x)

# Now round the DataFrame
df = df_merged.round(1)

df.head()

,Doctor_Told_Diabetes,Meals_Outside,FastFood_Meals,Ready_Eat_Foods_30D,Frozen_Meals_30D,Gender,Age_Years,Race,Vigorous work activity,Walk or bicycle,Vigorous recreational activities,Body Mass Index (kg/m**2),Waist Circumference (cm),Hip Circumference (cm),Past 12 Months Frequency of Drinking Alcoholic Beverages
0,2.0,7.0,0.0,0.0,5.0,2.0,29.0,6.0,2.0,2.0,1.0,37.8,117.9,126.1,10.0
1,2.0,2.0,2.0,0.0,0.0,1.0,49.0,3.0,2.0,2.0,2.0,29.7,120.4,108.2,0.0
2,2.0,2.0,2.0,0.0,7.0,1.0,36.0,3.0,1.0,2.0,2.0,21.9,86.8,94.5,0.0
3,1.0,0.0,NaN,0.0,0.0,1.0,68.0,7.0,1.0,1.0,2.0,30.2,109.6,107.8,4.0
4,2.0,1.0,1.0,1.0,8.0,1.0,76.0,3.0,2.0,2.0,2.0,26.6,NaN,NaN,0.0

## Getting true values

In [18]:
# Diabetes Cleaning

# Drop rows with value 9
df = df[df["Doctor_Told_Diabetes"] != 9]

# Convert 3's to 1's
df["Doctor_Told_Diabetes"].replace(3, 1, inplace = True)

# Replace values with descriptions
diabetes_value_to_description = {
    1: "Yes",
    2: "No"
}

df["Doctor_Told_Diabetes"].replace(diabetes_value_to_description, inplace = True)

In [19]:
# Diet Cleaning

# Cleaning the specified column in the DataFrame
# Fill NA with mean


df["Meals_Outside"].replace({9999: None, 7777: None, 5555: 21}, inplace = True)
df["Meals_Outside"].fillna((round(df["Meals_Outside"].mean())), inplace=True)



df["FastFood_Meals"].replace({9999: None, 7777: None, 5555: 21}, inplace = True)
df["FastFood_Meals"].fillna((round(df["FastFood_Meals"].mean())), inplace=True)


df["Ready_Eat_Foods_30D"].replace({9999: None, 7777: None, 6666: 90}, inplace = True)
df["Ready_Eat_Foods_30D"].fillna((round(df["Ready_Eat_Foods_30D"].mean())), inplace=True)


df["Frozen_Meals_30D"].replace({9999: None, 7777: None, 6666: 90}, inplace = True)
df["Frozen_Meals_30D"].fillna((round(df["Frozen_Meals_30D"].mean())), inplace=True)

In [20]:
# Demo Cleaning
df["Gender"].replace({1: "Male", 
                      2: "Female"}, inplace=True)


# Create a mapping from the provided codes to the race descriptions
race_mapping = {
    1: "Mexican American",
    2: "Other Hispanic",
    3: "Non-Hispanic White",
    4: "Non-Hispanic Black",
    6: "Non-Hispanic Asian",
    7: "Other Race - Including Multi-Racial"
}

# Replace the codes in the 'Race' column with the descriptions
df['Race'].replace(race_mapping, inplace=True)

In [21]:
# Activity Cleaning
# Replace 1 with 'Yes' and 2 with 'No'
df["Vigorous work activity"].replace({1: "Yes", 2: "No"}, inplace=True)

# Remove rows where 'Vigorous work activity' contains 7 or 9
df = df[(df["Vigorous work activity"] != 7) & (df["Vigorous work activity"] != 9)]


# Replace 1 with 'Yes' and 2 with 'No' for 'Walk or bicycle'
df["Walk or bicycle"].replace({1: "Yes", 2: "No"}, inplace=True)

# Remove rows where 'Walk or bicycle' contains 7 or 9
df = df[(df["Walk or bicycle"] != 7) & (df["Walk or bicycle"] != 9)]


# Replace 1 with 'Yes' and 2 with 'No' for 'Vigorous recreational activities'
df["Vigorous recreational activities"].replace({1: "Yes", 2: "No"}, inplace=True)

# Remove rows where 'Vigorous recreational activities' contains 7 or 9
df = df[(df["Vigorous recreational activities"] != 7) & (df["Vigorous recreational activities"] != 9)]

In [22]:
# Body Meassurement Cleaning

# # Fill NAs with mean
df["Body Mass Index (kg/m**2)"].fillna(round(df["Body Mass Index (kg/m**2)"].mean()), inplace=True)
df["Waist Circumference (cm)"].fillna(round(df["Waist Circumference (cm)"].mean()), inplace=True)
df["Hip Circumference (cm)"].fillna(round(df["Hip Circumference (cm)"].mean()), inplace=True)

In [23]:
# Alcohol Cleaning

df = df[(df['Past 12 Months Frequency of Drinking Alcoholic Beverages'] != 77) & 
        (df['Past 12 Months Frequency of Drinking Alcoholic Beverages'] != 99)]


# Calculate the rounded mean of the 'Past 12 Months Frequency of Drinking Alcoholic Beverages' column

# Fill NA values with the rounded mean of the column
df['Past 12 Months Frequency of Drinking Alcoholic Beverages'].fillna(round(df['Past 12 Months Frequency of Drinking Alcoholic Beverages'].mean()), inplace=True)


# Create a mapping from the provided codes to the descriptions
frequency_mapping = {
    0: "Never in the last year",
    1: "Every day",
    2: "Nearly every day",
    3: "3 to 4 times a week",
    4: "2 times a week",
    5: "Once a week",
    6: "2 to 3 times a month",
    7: "Once a month",
    8: "7 to 11 times in the last year",
    9: "3 to 6 times in the last year",
    10: "1 to 2 times in the last year"
}

# Replace the codes in the column with the descriptions
df['Past 12 Months Frequency of Drinking Alcoholic Beverages'].replace(frequency_mapping, inplace=True)

# Final Dataset

In [24]:
df.to_csv('/Users/tobiasmadsen/Documents/UMich/MDST/NHANES/data_files/eda_data.csv', index=False)

In [25]:
df.head()

,Doctor_Told_Diabetes,Meals_Outside,FastFood_Meals,Ready_Eat_Foods_30D,Frozen_Meals_30D,Gender,Age_Years,Race,Vigorous work activity,Walk or bicycle,Vigorous recreational activities,Body Mass Index (kg/m**2),Waist Circumference (cm),Hip Circumference (cm),Past 12 Months Frequency of Drinking Alcoholic Beverages
0,No,7.0,0.0,0.0,5.0,Female,29.0,Non-Hispanic Asian,No,No,Yes,37.8,117.9,126.1,1 to 2 times in the last year
1,No,2.0,2.0,0.0,0.0,Male,49.0,Non-Hispanic White,No,No,No,29.7,120.4,108.2,Never in the last year
2,No,2.0,2.0,0.0,7.0,Male,36.0,Non-Hispanic White,Yes,No,No,21.9,86.8,94.5,Never in the last year
3,Yes,0.0,2.0,0.0,0.0,Male,68.0,Other Race - Including Multi-Racial,Yes,Yes,No,30.2,109.6,107.8,2 times a week
4,No,1.0,1.0,1.0,8.0,Male,76.0,Non-Hispanic White,No,No,No,26.6,100.0,107.0,Never in the last year

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8947 entries, 0 to 8964
Data columns (total 15 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Doctor_Told_Diabetes                                      8947 non-null   object
 1   Meals_Outside                                             8947 non-null   float64
 2   FastFood_Meals                                            8947 non-null   float64
 3   Ready_Eat_Foods_30D                                       8947 non-null   float64
 4   Frozen_Meals_30D                                          8947 non-null   float64
 5   Gender                                                    8947 non-null   object
 6   Age_Years                                                 8947 non-null   float64
 7   Race                                                      8947 non-null   object
 8   Vigorous work activity                                    8947 non-null   object
 9   Walk or bicycle                                           8947 non-null   object
 10  Vigorous recreational activities                          8947 non-null   object
 11  Body Mass Index (kg/m**2)                                 8947 non-null   float64
 12  Waist Circumference (cm)                                  8947 non-null   float64
 13  Hip Circumference (cm)                                    8947 non-null   float64
 14  Past 12 Months Frequency of Drinking Alcoholic Beverages  8947 non-null   object
dtypes: float64(8), object(7)
memory usage: 1.1+ MB

In [27]:
df.describe()

,Meals_Outside,FastFood_Meals,Ready_Eat_Foods_30D,Frozen_Meals_30D,Age_Years,Body Mass Index (kg/m**2),Waist Circumference (cm),Hip Circumference (cm)
count,8947.000000,8947.000000,8947.000000,8947.000000,8947.000000,8947.000000,8947.000000,8947.000000
mean,3.315972,2.122946,2.047055,2.344585,49.441824,29.887851,100.378529,107.220409
std,3.813324,2.430541,5.219068,6.252767,18.452053,7.535171,16.851346,14.364959
min,0.000000,0.000000,0.000000,0.000000,18.000000,14.200000,56.400000,74.000000
25%,1.000000,1.000000,0.000000,0.000000,33.000000,24.700000,88.900000,97.300000
50%,2.000000,2.000000,0.000000,0.000000,50.000000,28.800000,100.000000,105.600000
75%,4.000000,2.000000,2.000000,2.000000,64.000000,33.500000,110.200000,113.900000
max,21.000000,21.000000,90.000000,90.000000,80.000000,92.300000,187.500000,187.500000

In [28]:
## Loop through each column in the DataFrame
#for column in df.columns:
#    # Check if the data is categorical or discrete numerical
#    if df[column].dtype == 'object' or len(df[column].unique()) < 100:
#        # Count the occurrences of each unique value
#        value_counts = df[column].value_counts()
#
#        # Create a bar plot
#        plt.figure(figsize=(10, 6))
#        value_counts.plot(kind='bar')
#        plt.title(f'Distribution of {column}')
#        plt.ylabel('Frequency')
#        plt.xlabel(column)
#
#        # Show the plot
#        plt.show()