In [1]:
# IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler

# NHanes data from 2017 - 2020

In [2]:
# LOADING DATASETS

df_diabetes = pd.read_sas("P_DIQ_Diabetes.XPT")

df_diet = pd.read_sas("P_DBQ_Diet.XPT")

df_demo = pd.read_sas("P_DEMO_Demographics.XPT")

df_activity = pd.read_sas("P_PAQ_Activity.XPT")

df_body = pd.read_sas("P_BMX_BodyMes.XPT")

df_alc = pd.read_sas("P_ALQ_Alcohol.XPT")

# Renaming column names

In [3]:
#  DIABETES
new_diabetes_column_names = {
    'SEQN': 'Respondent_ID',
    'DIQ010': 'Doctor_Told_Diabetes',
    'DID040': 'Age_When_First_Told_Diabetes',
    'DIQ159': 'Check_Item_1',
    'DIQ160': 'Ever_Told_Prediabetes',
    'DIQ180': 'Had_Blood_Test_Past_Three_Years',
    'DIQ050': 'Taking_Insulin_Now',
    'DID060': 'How_Long_Taking_Insulin',
    'DIQ060U': 'Insulin_Duration_Unit',
    'DIQ065': 'Check_Item_2',
    'DIQ070': 'Take_Diabetic_Pills',
    'DIQ229': 'Check_Item_3',
    'DIQ230': 'Time_Since_Saw_Diabetes_Specialist',
    'DIQ240': 'One_Doctor_For_Diabetes',
    'DID250': 'Times_Seen_Doctor_Past_Year',
    'DID260': 'How_Often_Check_Blood_Glucose',
    'DIQ260U': 'Blood_Glucose_Check_Unit',
    'DIQ275': 'Dr_Checked_A1C_Past_Year',
    'DIQ280': 'Last_A1C_Level',
    'DIQ291': 'Dr_Recommended_A1C',
    'DIQ295': 'Check_Item_4',
    'DIQ300S': 'Recent_SBP',
    'DIQ300D': 'Recent_DBP',
    'DID310S': 'Dr_Recommended_SBP',
    'DID310D': 'Dr_Recommended_DBP',
    'DID320': 'Most_Recent_LDL_Number',
    'DID330': 'Dr_Recommended_LDL',
    'DID341': 'Times_Dr_Checked_Feet_For_Sores',
    'DID350': 'How_Often_Check_Feet',
    'DIQ350U': 'Feet_Check_Unit',
    'DIQ360': 'Last_Pupil_Dilation_Date',
    'DIQ080': 'Diabetes_Affected_Eyes_Retinopathy'
}

# Renaming the columns
df_diabetes.rename(columns=new_diabetes_column_names, inplace=True)

In [4]:
# DIET

new_diet_column_names= {
    'SEQN': 'Respondent_ID',
    'DBQ010': 'Ever_Breastfed_or_Fed_Breastmilk',
    'DBD030': 'Age_Stopped_Breastfeeding_Days',
    'DBD041': 'Age_First_Fed_Formula_Days',
    'DBD050': 'Age_Stopped_Receiving_Formula_Days',
    'DBD055': 'Age_Started_Other_Food_Beverage',
    'DBD061': 'Age_First_Fed_Milk_Days',
    'DBQ073A': 'Type_of_Milk_First_Fed_Whole_Milk',
    'DBQ073B': 'Type_of_Milk_First_Fed_2_Percent_Milk',
    'DBQ073C': 'Type_of_Milk_First_Fed_1_Percent_Milk',
    'DBQ073D': 'Type_of_Milk_First_Fed_Fat_Free_Milk',
    'DBQ073E': 'Type_of_Milk_First_Fed_Soy_Milk',
    'DBQ073U': 'Type_of_Milk_First_Fed_Other',
    'DBD085': 'Check_Item_1',
    'DBQ700': 'How_Healthy_is_the_Diet',
    'DBQ197': 'Past_30_Day_Milk_Product_Consumption',
    'DBQ223A': 'You_Drink_Whole_or_Regular_Milk',
    'DBQ223B': 'You_Drink_2_Percent_Fat_Milk',
    'DBQ223C': 'You_Drink_1_Percent_Fat_Milk',
    'DBQ223D': 'You_Drink_Fat_Free_Skim_Milk',
    'DBQ223E': 'You_Drink_Soy_Milk',
    'DBQ223U': 'You_Drink_Another_Type_of_Milk',
    'DBD225': 'Check_Item_2',
    'DBQ229': 'Regular_Milk_Use_5_Times_Per_Week',
    'DBQ235A': 'How_Often_Drank_Milk_Age_5_12',
    'DBQ235B': 'How_Often_Drank_Milk_Age_13_17',
    'DBQ235C': 'How_Often_Drank_Milk_Age_18_35',
    'DBD265a': 'Check_Item_3',
    'DBQ301': 'Community_Government_Meals_Delivered',
    'DBQ330': 'Eat_Meals_at_Community_Senior_Center',
    'DBD355': 'Check_Item_4',
    'DBQ360': 'Attend_Kindergarten_Thru_High_School',
    'DBQ370': 'School_Serves_School_Lunches',
    'DBD381': 'Number_of_Times_Per_Week_Get_School_Lunch',
    'DBQ390': 'School_Lunch_Free_Reduced_Full_Price',
    'DBQ400': 'School_Serve_Complete_Breakfast_Each_Day',
    'DBD411': 'Number_of_Times_Per_Week_Get_School_Breakfast',
    'DBQ421': 'School_Breakfast_Free_Reduced_Full_Price',
    'DBQ422': 'Check_Item_5',
    'DBQ424': 'Summer_Program_Meal_Free_Reduced_Price',
    'DBD895': 'Number_of_Meals_Not_Home_Prepared',
    'DBD900': 'Number_of_Meals_From_Fast_Food_or_Pizza_Place',
    'DBD905': 'Number_of_Ready_to_Eat_Foods_in_Past_30_Days',
    'DBD910': 'Number_of_Frozen_Meals_Pizza_in_Past_30_Days',
    'DBQ715a': 'Check_Item_6',
    'CBQ596': 'Heard_of_My_Plate',
    'CBQ606': 'Looked_Up_My_Plate_on_Internet',
    'CBQ611': 'Tried_My_Plate_Plan',
    'DBQ930': 'Main_Meal_Planner_Preparer',
    'DBQ935': 'Shared_Meal_Planning_Preparing_Duty',
    'DBQ940': 'Main_Food_Shopper',
    'DBQ945': 'Shared_Food_Shopping_Duty'
    }

df_diet.rename(columns=new_diet_column_names, inplace=True)

In [5]:
# DEMOGRAPHICS
new_demo_column_names = {
    'SEQN': 'Respondent_ID',
    'SDDSRVYR': 'Data_Release_Cycle',
    'RIDSTATR': 'Interview_Examination_Status',
    'RIAGENDR': 'Gender',
    'RIDAGEYR': 'Age_Years_Screening',
    'RIDAGEMN': 'Age_Months_Screening_0_24_Mos',
    'RIDRETH1': 'Race_Hispanic_Origin',
    'RIDRETH3': 'Race_Hispanic_Origin_with_NH_Asian',
    'RIDEXMON': 'Six_Month_Time_Period',
    'DMDBORN4': 'Country_of_Birth',
    'DMDYRUSZ': 'Length_of_Time_in_US',
    'DMDEDUC2': 'Education_Level_Adults_20',
    'DMDMARTZ': 'Marital_Status',
    'RIDEXPRG': 'Pregnancy_Status_at_Exam',
    'SIALANG': 'Language_of_SP_Interview',
    'SIAPROXY': 'Proxy_Used_in_SP_Interview',
    'SIAINTRP': 'Interpreter_Used_in_SP_Interview',
    'FIALANG': 'Language_of_Family_Interview',
    'FIAPROXY': 'Proxy_Used_in_Family_Interview',
    'FIAINTRP': 'Interpreter_Used_in_Family_Interview',
    'MIALANG': 'Language_of_MEC_Interview',
    'MIAPROXY': 'Proxy_Used_in_MEC_Interview',
    'MIAINTRP': 'Interpreter_Used_in_MEC_Interview',
    'AIALANGA': 'Language_of_ACASI_Interview',
    'WTINTPRP': 'Full_Sample_Interview_Weight',
    'WTMECPRP': 'Full_Sample_MEC_Exam_Weight',
    'SDMVPSU': 'Masked_Variance_Pseudo_PSU',
    'SDMVSTRA': 'Masked_Variance_Pseudo_Stratum'
}


df_demo.rename(columns = new_demo_column_names, inplace=True)

In [6]:
# ACTIVITY

new_activity_column_names = {
'SEQN': 'Respondent_ID',
'PAQ605': 'Vigorous work activity',
'PAQ610': 'Number of days vigorous work',
'PAD615': 'Minutes vigorous-intensity work',
'PAQ620': 'Moderate work activity',
'PAQ625': 'Number of days moderate work',
'PAD630': 'Minutes moderate-intensity work',
'PAQ635': 'Walk or bicycle',
'PAQ640': 'Number of days walk or bicycle',
'PAD645': 'Minutes walk/bicycle for transportation',
'PAQ650': 'Vigorous recreational activities',
'PAQ655': 'Days vigorous recreational activities',
'PAD660': 'Minutes vigorous recreational activities',
'PAQ665': 'Moderate recreational activities',
'PAQ670': 'Days moderate recreational activities',
'PAD675': 'Minutes moderate recreational activities',
'PAD680': 'Minutes sedentary activity'
}


df_activity.rename(columns = new_activity_column_names, inplace=True)

In [7]:
# BODY MEASUREMENTS

new_body_column_names = {
    'SEQN': 'Respondent_ID',
    'BMDSTATS': 'Body Measures Component Status Code',
    'BMXWT': 'Weight (kg)',
    'BMIWT': 'Weight Comment',
    'BMXRECUM': 'Recumbent Length (cm)',
    'BMIRECUM': 'Recumbent Length Comment',
    'BMXHEAD': 'Head Circumference (cm)',
    'BMIHEAD': 'Head Circumference Comment',
    'BMXHT': 'Standing Height (cm)',
    'BMIHT': 'Standing Height Comment',
    'BMXBMI': 'Body Mass Index (kg/m**2)',
    'BMDBMIC': 'BMI Category - Children/Youth',
    'BMXLEG': 'Upper Leg Length (cm)',
    'BMILEG': 'Upper Leg Length Comment',
    'BMXARML': 'Upper Arm Length (cm)',
    'BMIARML': 'Upper Arm Length Comment',
    'BMXARMC': 'Arm Circumference (cm)',
    'BMIARMC': 'Arm Circumference Comment',
    'BMXWAIST': 'Waist Circumference (cm)',
    'BMIWAIST': 'Waist Circumference Comment',
    'BMXHIP': 'Hip Circumference (cm)',
    'BMIHIP': 'Hip Circumference Comment'
}


df_body.rename(columns=new_body_column_names, inplace=True)

In [8]:
# ALCOHOL

new_alc_column_names = {
    'SEQN': 'Respondent_ID',
    'ALQ111': 'Ever Had a Drink of Any Kind of Alcohol',
    'ALQ121': 'Past 12 Months Frequency of Drinking Alcoholic Beverages',
    'ALQ130': 'Average Number of Alcoholic Drinks/Day in Past 12 Months',
    'ALQ142': 'Number of Days with 4 or 5 Drinks in Past 12 Months',
    'ALQ270': 'Number of Times 4-5 Drinks in 2 Hours in Past 12 Months',
    'ALQ280': 'Number of Times 8+ Drinks in 1 Day in Past 12 Months',
    'ALQ290': 'Number of Times 12+ Drinks in 1 Day in Past 12 Months',
    'ALQ151': 'Ever Had 4/5 or More Drinks Every Day',
    'ALQ170CK': 'CHECK ITEM',
    'ALQ170': 'Past 30 Days Number of Times 4-5 Drinks on an Occasion'
}

df_alc.rename(columns=new_alc_column_names, inplace=True)

# Dropping columns

In [9]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14986 entries, 0 to 14985
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Respondent_ID                       14986 non-null  float64
 1   Doctor_Told_Diabetes                14986 non-null  float64
 2   Age_When_First_Told_Diabetes        1443 non-null   float64
 3   Ever_Told_Prediabetes               9516 non-null   float64
 4   Had_Blood_Test_Past_Three_Years     9796 non-null   float64
 5   Taking_Insulin_Now                  1445 non-null   float64
 6   How_Long_Taking_Insulin             427 non-null    float64
 7   Insulin_Duration_Unit               418 non-null    float64
 8   Take_Diabetic_Pills                 2679 non-null   float64
 9   Time_Since_Saw_Diabetes_Specialist  1443 non-null   float64
 10  One_Doctor_For_Diabetes             1443 non-null   float64
 11  Times_Seen_Doctor_Past_Year         1107 non-null   float64
 12  How_Often_Check_Blood_Glucose       1440 non-null   float64
 13  Blood_Glucose_Check_Unit            1135 non-null   float64
 14  Dr_Checked_A1C_Past_Year            1443 non-null   float64
 15  Last_A1C_Level                      1218 non-null   float64
 16  Dr_Recommended_A1C                  1221 non-null   float64
 17  Recent_SBP                          1433 non-null   float64
 18  Recent_DBP                          1433 non-null   float64
 19  Dr_Recommended_SBP                  1435 non-null   float64
 20  Dr_Recommended_DBP                  1435 non-null   float64
 21  Most_Recent_LDL_Number              1434 non-null   float64
 22  Dr_Recommended_LDL                  1349 non-null   float64
 23  Times_Dr_Checked_Feet_For_Sores     1430 non-null   float64
 24  How_Often_Check_Feet                1430 non-null   float64
 25  Feet_Check_Unit                     1166 non-null   float64
 26  Last_Pupil_Dilation_Date            1434 non-null   float64
 27  Diabetes_Affected_Eyes_Retinopathy  1434 non-null   float64
dtypes: float64(28)
memory usage: 3.2 MB

In [10]:
# List of columns to keep
columns_to_keep_diabetes = ['Respondent_ID', 'Doctor_Told_Diabetes', 'Age_When_First_Told_Diabetes']

# Drop columns not in the list
df_diabetes = df_diabetes[columns_to_keep_diabetes]

In [11]:
# DEMO

columns_to_keep_activity = ['Respondent_ID', 'Gender', 'Age_Years_Screening', 'Race_Hispanic_Origin_with_NH_Asian', 'Country_of_Birth']

df_demo = df_demo[columns_to_keep_activity]

# Merging the datasets

In [12]:
# Merge df_diabetes and df_diet on 'Respondent_ID'
df_merged = pd.merge(df_diabetes, df_diet, on='Respondent_ID')

# Merge df_demo on 'Respondent_ID' with the already merged DataFrame
df_merged = pd.merge(df_merged, df_demo, on='Respondent_ID')

# Merge 'df_activity' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_activity, on='Respondent_ID')

# Merge 'df_body' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_body, on='Respondent_ID')

# Merge 'df_alc' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_alc, on='Respondent_ID')

In [13]:
df_merged.round(0)

,Respondent_ID,Doctor_Told_Diabetes,Age_When_First_Told_Diabetes,Ever_Breastfed_or_Fed_Breastmilk,Age_Stopped_Breastfeeding_Days,Age_First_Fed_Formula_Days,Age_Stopped_Receiving_Formula_Days,Age_Started_Other_Food_Beverage,Age_First_Fed_Milk_Days,Type_of_Milk_First_Fed_Whole_Milk,...,Hip Circumference Comment,Ever Had a Drink of Any Kind of Alcohol,Past 12 Months Frequency of Drinking Alcoholic Beverages,Average Number of Alcoholic Drinks/Day in Past 12 Months,Number of Days with 4 or 5 Drinks in Past 12 Months,Number of Times 4-5 Drinks in 2 Hours in Past 12 Months,Number of Times 8+ Drinks in 1 Day in Past 12 Months,Number of Times 12+ Drinks in 1 Day in Past 12 Months,Ever Had 4/5 or More Drinks Every Day,Past 30 Days Number of Times 4-5 Drinks on an Occasion
0,109266.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,10.0,1.0,0.0,NaN,NaN,NaN,2.0,0.0
1,109271.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,109273.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,109274.0,1.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,2.0,5.0,7.0,0.0,NaN,2.0,0.0
4,109282.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8960,124815.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,3.0,1.0,0.0,NaN,NaN,NaN,2.0,0.0
8961,124817.0,1.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,3.0,2.0,0.0,NaN,NaN,NaN,2.0,0.0
8962,124818.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,9.0,2.0,0.0,NaN,NaN,NaN,2.0,0.0
8963,124821.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,5.0,5.0,7.0,0.0,0.0,NaN,2.0,0.0
8964,124822.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,6.0,2.0,0.0,NaN,NaN,NaN,1.0,999.0

In [14]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8965 entries, 0 to 8964
Data columns (total 98 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Respondent_ID                                             8965 non-null   float64
 1   Doctor_Told_Diabetes                                      8965 non-null   float64
 2   Age_When_First_Told_Diabetes                              1326 non-null   float64
 3   Ever_Breastfed_or_Fed_Breastmilk                          0 non-null      float64
 4   Age_Stopped_Breastfeeding_Days                            0 non-null      float64
 5   Age_First_Fed_Formula_Days                                0 non-null      float64
 6   Age_Stopped_Receiving_Formula_Days                        0 non-null      float64
 7   Age_Started_Other_Food_Beverage                           0 non-null      float64
 8   Age_First_Fed_Milk_Days                                   0 non-null      float64
 9   Type_of_Milk_First_Fed_Whole_Milk                         0 non-null      float64
 10  Type_of_Milk_First_Fed_2_Percent_Milk                     0 non-null      float64
 11  Type_of_Milk_First_Fed_1_Percent_Milk                     0 non-null      float64
 12  Type_of_Milk_First_Fed_Fat_Free_Milk                      0 non-null      float64
 13  Type_of_Milk_First_Fed_Soy_Milk                           0 non-null      float64
 14  Type_of_Milk_First_Fed_Other                              0 non-null      float64
 15  How_Healthy_is_the_Diet                                   8965 non-null   float64
 16  Past_30_Day_Milk_Product_Consumption                      8965 non-null   float64
 17  You_Drink_Whole_or_Regular_Milk                           2495 non-null   float64
 18  You_Drink_2_Percent_Fat_Milk                              2677 non-null   float64
 19  You_Drink_1_Percent_Fat_Milk                              738 non-null    float64
 20  You_Drink_Fat_Free_Skim_Milk                              415 non-null    float64
 21  You_Drink_Soy_Milk                                        195 non-null    float64
 22  You_Drink_Another_Type_of_Milk                            827 non-null    float64
 23  Regular_Milk_Use_5_Times_Per_Week                         8544 non-null   float64
 24  How_Often_Drank_Milk_Age_5_12                             6320 non-null   float64
 25  How_Often_Drank_Milk_Age_13_17                            6320 non-null   float64
 26  How_Often_Drank_Milk_Age_18_35                            6320 non-null   float64
 27  Community_Government_Meals_Delivered                      3141 non-null   float64
 28  Eat_Meals_at_Community_Senior_Center                      3141 non-null   float64
 29  Attend_Kindergarten_Thru_High_School                      419 non-null    float64
 30  School_Serves_School_Lunches                              113 non-null    float64
 31  Number_of_Times_Per_Week_Get_School_Lunch                 112 non-null    float64
 32  School_Lunch_Free_Reduced_Full_Price                      82 non-null     float64
 33  School_Serve_Complete_Breakfast_Each_Day                  113 non-null    float64
 34  Number_of_Times_Per_Week_Get_School_Breakfast             105 non-null    float64
 35  School_Breakfast_Free_Reduced_Full_Price                  50 non-null     float64
 36  Summer_Program_Meal_Free_Reduced_Price                    67 non-null     float64
 37  Number_of_Meals_Not_Home_Prepared                         8965 non-null   float64
 38  Number_of_Meals_From_Fast_Food_or_Pizza_Place             7069 non-null   float64
 39  Number_of_Ready_to_Eat_Foods_in_Past_30_Days              8964 non-null   float64
 40  Number_of_Frozen_Meals_Pizza_in_Past_30_Days              8962 non-null   float64
 41  Heard_of_My_Plate                                         8965 non-null   float64
 42  Looked_Up_My_Plate_on_Internet                            1958 non-null   float64
 43  Tried_My_Plate_Plan                                       1958 non-null   float64
 44  Main_Meal_Planner_Preparer                                8965 non-null   float64
 45  Shared_Meal_Planning_Preparing_Duty                       8965 non-null   float64
 46  Main_Food_Shopper                                         8965 non-null   float64
 47  Shared_Food_Shopping_Duty                                 8965 non-null   float64
 48  Gender                                                    8965 non-null   float64
 49  Age_Years_Screening                                       8965 non-null   float64
 50  Race_Hispanic_Origin_with_NH_Asian                        8965 non-null   float64
 51  Country_of_Birth                                          8965 non-null   float64
 52  Vigorous work activity                                    8965 non-null   float64
 53  Number of days vigorous work                              2248 non-null   float64
 54  Minutes vigorous-intensity work                           2233 non-null   float64
 55  Moderate work activity                                    8965 non-null   float64
 56  Number of days moderate work                              3883 non-null   float64
 57  Minutes moderate-intensity work                           3860 non-null   float64
 58  Walk or bicycle                                           8965 non-null   float64
 59  Number of days walk or bicycle                            2092 non-null   float64
 60  Minutes walk/bicycle for transportation                   2081 non-null   float64
 61  Vigorous recreational activities                          8965 non-null   float64
 62  Days vigorous recreational activities                     2236 non-null   float64
 63  Minutes vigorous recreational activities                  2231 non-null   float64
 64  Moderate recreational activities                          8965 non-null   float64
 65  Days moderate recreational activities                     3633 non-null   float64
 66  Minutes moderate recreational activities                  3622 non-null   float64
 67  Minutes sedentary activity                                8948 non-null   float64
 68  Body Measures Component Status Code                       8965 non-null   float64
 69  Weight (kg)                                               8811 non-null   float64
 70  Weight Comment                                            329 non-null    float64
 71  Recumbent Length (cm)                                     0 non-null      float64
 72  Recumbent Length Comment                                  0 non-null      float64
 73  Head Circumference (cm)                                   0 non-null      float64
 74  Head Circumference Comment                                0 non-null      float64
 75  Standing Height (cm)                                      8804 non-null   float64
 76  Standing Height Comment                                   124 non-null    float64
 77  Body Mass Index (kg/m**2)                                 8790 non-null   float64
 78  BMI Category - Children/Youth                             402 non-null    float64
 79  Upper Leg Length (cm)                                     8410 non-null   float64
 80  Upper Leg Length Comment                                  404 non-null    float64
 81  Upper Arm Length (cm)                                     8545 non-null   float64
 82  Upper Arm Length Comment                                  269 non-null    float64
 83  Arm Circumference (cm)                                    8544 non-null   float64
 84  Arm Circumference Comment                                 270 non-null    float64
 85  Waist Circumference (cm)                                  8449 non-null   float64
 86  Waist Circumference Comment                               362 non-null    float64
 87  Hip Circumference (cm)                                    8463 non-null   float64
 88  Hip Circumference Comment                                 350 non-null    float64
 89  Ever Had a Drink of Any Kind of Alcohol                   8370 non-null   float64
 90  Past 12 Months Frequency of Drinking Alcoholic Beverages  7503 non-null   float64
 91  Average Number of Alcoholic Drinks/Day in Past 12 Months  5863 non-null   float64
 92  Number of Days with 4 or 5 Drinks in Past 12 Months       5863 non-null   float64
 93  Number of Times 4-5 Drinks in 2 Hours in Past 12 Months   2471 non-null   float64
 94  Number of Times 8+ Drinks in 1 Day in Past 12 Months      2471 non-null   float64
 95  Number of Times 12+ Drinks in 1 Day in Past 12 Months     933 non-null    float64
 96  Ever Had 4/5 or More Drinks Every Day                     7501 non-null   float64
 97  Past 30 Days Number of Times 4-5 Drinks on an Occasion    5849 non-null   float64
dtypes: float64(98)
memory usage: 6.8 MB

In [15]:
df_merged.describe()

,Respondent_ID,Doctor_Told_Diabetes,Age_When_First_Told_Diabetes,Ever_Breastfed_or_Fed_Breastmilk,Age_Stopped_Breastfeeding_Days,Age_First_Fed_Formula_Days,Age_Stopped_Receiving_Formula_Days,Age_Started_Other_Food_Beverage,Age_First_Fed_Milk_Days,Type_of_Milk_First_Fed_Whole_Milk,...,Hip Circumference Comment,Ever Had a Drink of Any Kind of Alcohol,Past 12 Months Frequency of Drinking Alcoholic Beverages,Average Number of Alcoholic Drinks/Day in Past 12 Months,Number of Days with 4 or 5 Drinks in Past 12 Months,Number of Times 4-5 Drinks in 2 Hours in Past 12 Months,Number of Times 8+ Drinks in 1 Day in Past 12 Months,Number of Times 12+ Drinks in 1 Day in Past 12 Months,Ever Had 4/5 or More Drinks Every Day,Past 30 Days Number of Times 4-5 Drinks on an Occasion
count,8965.000000,8965.000000,1326.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,350.0,8370.000000,7.503000e+03,5863.000000,5.863000e+03,2.471000e+03,2.471000e+03,9.330000e+02,7501.000000,5.849000e+03
mean,117107.849637,1.883882,59.315988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.103584,4.945622e+00,4.187958,3.390585e+00,4.541076e+00,3.290571e+00,4.372990e+00,1.859085,1.496512e+01
std,4501.048325,0.435757,98.070120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.304739,3.976266e+00,40.354534,6.646142e+00,1.128773e+01,7.357537e+00,1.002070e+01,0.438490,1.112895e+02
min,109266.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.000000,5.397605e-79,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,5.397605e-79
25%,113211.000000,2.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.000000,1.000000e+00,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.000000,5.397605e-79
50%,117091.000000,2.000000,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.000000,5.000000e+00,2.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.000000,5.397605e-79
75%,121022.000000,2.000000,59.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.000000,8.000000e+00,3.000000,7.000000e+00,8.000000e+00,7.000000e+00,8.000000e+00,2.000000,1.000000e+00
max,124822.000000,9.000000,999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.000000,9.900000e+01,999.000000,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.000000,9.990000e+02

In [16]:
# List of columns for logistic regression
columns_for_log_reg = ["Doctor_Told_Diabetes", "Gender", "Race_Hispanic_Origin_with_NH_Asian", 
                "Country_of_Birth", "How_Healthy_is_the_Diet", "Number_of_Meals_Not_Home_Prepared", 
                "Vigorous work activity", "Moderate work activity", "Walk or bicycle", "Weight (kg)", 
                "Body Mass Index (kg/m**2)", "Arm Circumference (cm)", "Waist Circumference (cm)", 
                "Hip Circumference (cm)", "Past 12 Months Frequency of Drinking Alcoholic Beverages", ]


df_10 = df_merged[columns_for_log_reg]

In [17]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8965 entries, 0 to 8964
Data columns (total 15 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Doctor_Told_Diabetes                                      8965 non-null   float64
 1   Gender                                                    8965 non-null   float64
 2   Race_Hispanic_Origin_with_NH_Asian                        8965 non-null   float64
 3   Country_of_Birth                                          8965 non-null   float64
 4   How_Healthy_is_the_Diet                                   8965 non-null   float64
 5   Number_of_Meals_Not_Home_Prepared                         8965 non-null   float64
 6   Vigorous work activity                                    8965 non-null   float64
 7   Moderate work activity                                    8965 non-null   float64
 8   Walk or bicycle                                           8965 non-null   float64
 9   Weight (kg)                                               8811 non-null   float64
 10  Body Mass Index (kg/m**2)                                 8790 non-null   float64
 11  Arm Circumference (cm)                                    8544 non-null   float64
 12  Waist Circumference (cm)                                  8449 non-null   float64
 13  Hip Circumference (cm)                                    8463 non-null   float64
 14  Past 12 Months Frequency of Drinking Alcoholic Beverages  7503 non-null   float64
dtypes: float64(15)
memory usage: 1.1 MB

In [18]:
# Removing 3 and 9 from predictor variable
df_10 = df_10[df_10["Doctor_Told_Diabetes"].isin([1.0, 2.0])]

# Fill NAs with mean
df_10 = df_10.fillna(df_10.mean())

df_10 = df_10[df_10['Past 12 Months Frequency of Drinking Alcoholic Beverages'].isin([77, 99]) == False]

In [19]:
# Split the data into X (features) and y (target)
X = df_10.drop('Doctor_Told_Diabetes', axis=1)
y = df_10['Doctor_Told_Diabetes']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scaling the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize logistic regression model
logreg = LogisticRegression(max_iter=10000)

# Fit the model to the training data
logreg.fit(X_train, y_train)

# Predict on test data
y_pred = logreg.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

coefficients = logreg.coef_[0]
features = X.columns

coeff_df = pd.DataFrame({'Feature': features, 'Coefficient': coefficients})

sorted_coeff_df = coeff_df.sort_values(by='Coefficient', ascending=False)


print(sorted_coeff_df)

Accuracy: 0.8575531303848363
              precision    recall  f1-score   support

         1.0       0.45      0.04      0.07       246
         2.0       0.86      0.99      0.92      1495

    accuracy                           0.86      1741
   macro avg       0.66      0.52      0.50      1741
weighted avg       0.81      0.86      0.80      1741

                                              Feature  Coefficient
0                                              Gender     0.194594
12                             Hip Circumference (cm)     0.060576
10                             Arm Circumference (cm)     0.056691
13  Past 12 Months Frequency of Drinking Alcoholic...     0.043790
8                                         Weight (kg)     0.024811
3                             How_Healthy_is_the_Diet     0.023364
2                                    Country_of_Birth     0.002953
4                   Number_of_Meals_Not_Home_Prepared    -0.000047
1                  Race_Hispanic_Origin_with_NH_Asian    -0.053142
7                                     Walk or bicycle    -0.065978
9                           Body Mass Index (kg/m**2)    -0.088061
11                           Waist Circumference (cm)    -0.094800
5                              Vigorous work activity    -0.193294
6                              Moderate work activity    -0.268981