In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# NHanes data from 2017 - 2020

In [2]:
df_diabetes = pd.read_sas("P_DIQ_Diabetes.XPT")

df_diet = pd.read_sas("P_DBQ_Diet.XPT")

df_demo = pd.read_sas("P_DEMO_Demographics.XPT")

df_activity = pd.read_sas("P_PAQ_Activity.XPT")

# Renaming column names

In [3]:
# Dict with new column names
new_diabetes_column_names = {
    'SEQN': 'Respondent_ID',
    'DIQ010': 'Doctor_Told_Diabetes',
    'DID040': 'Age_When_First_Told_Diabetes',
    'DIQ159': 'Check_Item_1',
    'DIQ160': 'Ever_Told_Prediabetes',
    'DIQ180': 'Had_Blood_Test_Past_Three_Years',
    'DIQ050': 'Taking_Insulin_Now',
    'DID060': 'How_Long_Taking_Insulin',
    'DIQ060U': 'Insulin_Duration_Unit',
    'DIQ065': 'Check_Item_2',
    'DIQ070': 'Take_Diabetic_Pills',
    'DIQ229': 'Check_Item_3',
    'DIQ230': 'Time_Since_Saw_Diabetes_Specialist',
    'DIQ240': 'One_Doctor_For_Diabetes',
    'DID250': 'Times_Seen_Doctor_Past_Year',
    'DID260': 'How_Often_Check_Blood_Glucose',
    'DIQ260U': 'Blood_Glucose_Check_Unit',
    'DIQ275': 'Dr_Checked_A1C_Past_Year',
    'DIQ280': 'Last_A1C_Level',
    'DIQ291': 'Dr_Recommended_A1C',
    'DIQ295': 'Check_Item_4',
    'DIQ300S': 'Recent_SBP',
    'DIQ300D': 'Recent_DBP',
    'DID310S': 'Dr_Recommended_SBP',
    'DID310D': 'Dr_Recommended_DBP',
    'DID320': 'Most_Recent_LDL_Number',
    'DID330': 'Dr_Recommended_LDL',
    'DID341': 'Times_Dr_Checked_Feet_For_Sores',
    'DID350': 'How_Often_Check_Feet',
    'DIQ350U': 'Feet_Check_Unit',
    'DIQ360': 'Last_Pupil_Dilation_Date',
    'DIQ080': 'Diabetes_Affected_Eyes_Retinopathy'
}

# Renaming the columns
df_diabetes.rename(columns=new_diabetes_column_names, inplace=True)

In [4]:
new_diet_column_names= {
    'SEQN': 'Respondent_ID',
    'DBQ010': 'Ever_Breastfed_or_Fed_Breastmilk',
    'DBD030': 'Age_Stopped_Breastfeeding_Days',
    'DBD041': 'Age_First_Fed_Formula_Days',
    'DBD050': 'Age_Stopped_Receiving_Formula_Days',
    'DBD055': 'Age_Started_Other_Food_Beverage',
    'DBD061': 'Age_First_Fed_Milk_Days',
    'DBQ073A': 'Type_of_Milk_First_Fed_Whole_Milk',
    'DBQ073B': 'Type_of_Milk_First_Fed_2_Percent_Milk',
    'DBQ073C': 'Type_of_Milk_First_Fed_1_Percent_Milk',
    'DBQ073D': 'Type_of_Milk_First_Fed_Fat_Free_Milk',
    'DBQ073E': 'Type_of_Milk_First_Fed_Soy_Milk',
    'DBQ073U': 'Type_of_Milk_First_Fed_Other',
    'DBD085': 'Check_Item_1',
    'DBQ700': 'How_Healthy_is_the_Diet',
    'DBQ197': 'Past_30_Day_Milk_Product_Consumption',
    'DBQ223A': 'You_Drink_Whole_or_Regular_Milk',
    'DBQ223B': 'You_Drink_2_Percent_Fat_Milk',
    'DBQ223C': 'You_Drink_1_Percent_Fat_Milk',
    'DBQ223D': 'You_Drink_Fat_Free_Skim_Milk',
    'DBQ223E': 'You_Drink_Soy_Milk',
    'DBQ223U': 'You_Drink_Another_Type_of_Milk',
    'DBD225': 'Check_Item_2',
    'DBQ229': 'Regular_Milk_Use_5_Times_Per_Week',
    'DBQ235A': 'How_Often_Drank_Milk_Age_5_12',
    'DBQ235B': 'How_Often_Drank_Milk_Age_13_17',
    'DBQ235C': 'How_Often_Drank_Milk_Age_18_35',
    'DBD265a': 'Check_Item_3',
    'DBQ301': 'Community_Government_Meals_Delivered',
    'DBQ330': 'Eat_Meals_at_Community_Senior_Center',
    'DBD355': 'Check_Item_4',
    'DBQ360': 'Attend_Kindergarten_Thru_High_School',
    'DBQ370': 'School_Serves_School_Lunches',
    'DBD381': 'Number_of_Times_Per_Week_Get_School_Lunch',
    'DBQ390': 'School_Lunch_Free_Reduced_Full_Price',
    'DBQ400': 'School_Serve_Complete_Breakfast_Each_Day',
    'DBD411': 'Number_of_Times_Per_Week_Get_School_Breakfast',
    'DBQ421': 'School_Breakfast_Free_Reduced_Full_Price',
    'DBQ422': 'Check_Item_5',
    'DBQ424': 'Summer_Program_Meal_Free_Reduced_Price',
    'DBD895': 'Number_of_Meals_Not_Home_Prepared',
    'DBD900': 'Number_of_Meals_From_Fast_Food_or_Pizza_Place',
    'DBD905': 'Number_of_Ready_to_Eat_Foods_in_Past_30_Days',
    'DBD910': 'Number_of_Frozen_Meals_Pizza_in_Past_30_Days',
    'DBQ715a': 'Check_Item_6',
    'CBQ596': 'Heard_of_My_Plate',
    'CBQ606': 'Looked_Up_My_Plate_on_Internet',
    'CBQ611': 'Tried_My_Plate_Plan',
    'DBQ930': 'Main_Meal_Planner_Preparer',
    'DBQ935': 'Shared_Meal_Planning_Preparing_Duty',
    'DBQ940': 'Main_Food_Shopper',
    'DBQ945': 'Shared_Food_Shopping_Duty'
    }

df_diet.rename(columns=new_diet_column_names, inplace=True)

In [5]:
# Rename columns in the DataFrame
new_demo_column_names = {
    'SEQN': 'Respondent_ID',
    'SDDSRVYR': 'Data_Release_Cycle',
    'RIDSTATR': 'Interview_Examination_Status',
    'RIAGENDR': 'Gender',
    'RIDAGEYR': 'Age_Years_Screening',
    'RIDAGEMN': 'Age_Months_Screening_0_24_Mos',
    'RIDRETH1': 'Race_Hispanic_Origin',
    'RIDRETH3': 'Race_Hispanic_Origin_with_NH_Asian',
    'RIDEXMON': 'Six_Month_Time_Period',
    'DMDBORN4': 'Country_of_Birth',
    'DMDYRUSZ': 'Length_of_Time_in_US',
    'DMDEDUC2': 'Education_Level_Adults_20',
    'DMDMARTZ': 'Marital_Status',
    'RIDEXPRG': 'Pregnancy_Status_at_Exam',
    'SIALANG': 'Language_of_SP_Interview',
    'SIAPROXY': 'Proxy_Used_in_SP_Interview',
    'SIAINTRP': 'Interpreter_Used_in_SP_Interview',
    'FIALANG': 'Language_of_Family_Interview',
    'FIAPROXY': 'Proxy_Used_in_Family_Interview',
    'FIAINTRP': 'Interpreter_Used_in_Family_Interview',
    'MIALANG': 'Language_of_MEC_Interview',
    'MIAPROXY': 'Proxy_Used_in_MEC_Interview',
    'MIAINTRP': 'Interpreter_Used_in_MEC_Interview',
    'AIALANGA': 'Language_of_ACASI_Interview',
    'WTINTPRP': 'Full_Sample_Interview_Weight',
    'WTMECPRP': 'Full_Sample_MEC_Exam_Weight',
    'SDMVPSU': 'Masked_Variance_Pseudo_PSU',
    'SDMVSTRA': 'Masked_Variance_Pseudo_Stratum'
}


df_demo.rename(columns = new_demo_column_names, inplace=True)

In [6]:
new_activity_column_names = {
'SEQN': 'Respondent_ID',
'PAQ605': 'Vigorous work activity',
'PAQ610': 'Number of days vigorous work',
'PAD615': 'Minutes vigorous-intensity work',
'PAQ620': 'Moderate work activity',
'PAQ625': 'Number of days moderate work',
'PAD630': 'Minutes moderate-intensity work',
'PAQ635': 'Walk or bicycle',
'PAQ640': 'Number of days walk or bicycle',
'PAD645': 'Minutes walk/bicycle for transportation',
'PAQ650': 'Vigorous recreational activities',
'PAQ655': 'Days vigorous recreational activities',
'PAD660': 'Minutes vigorous recreational activities',
'PAQ665': 'Moderate recreational activities',
'PAQ670': 'Days moderate recreational activities',
'PAD675': 'Minutes moderate recreational activities',
'PAD680': 'Minutes sedentary activity'
}


df_activity.rename(columns = new_activity_column_names, inplace=True)

# Dropping columns

In [7]:
# List of columns to keep
columns_to_keep_diabetes = ['Respondent_ID', 'Doctor_Told_Diabetes', 'Age_When_First_Told_Diabetes']

# Drop columns not in the list
df_diabetes = df_diabetes[columns_to_keep_diabetes]

In [15]:
# DEMO

columns_to_keep_activity = ['Respondent_ID', 'Gender', 'Age_Years_Screening', 'Race_Hispanic_Origin_with_NH_Asian', 'Country_of_Birth']

df_demo = df_demo[columns_to_keep_activity]

# Merging the datasets

In [16]:
# Merge df_diabetes and df_diet on 'Respondent_ID'
df_merged = pd.merge(df_diabetes, df_diet, on='Respondent_ID')

# Merge df_demo on 'Respondent_ID' with the already merged DataFrame
df_merged = pd.merge(df_merged, df_demo, on='Respondent_ID')

# Merge 'df_activity' with the already merged DataFrame on 'Respondent_ID'
df_merged = pd.merge(df_merged, df_activity, on='Respondent_ID')

In [17]:
df_merged.round(0)

,Respondent_ID,Doctor_Told_Diabetes,Age_When_First_Told_Diabetes,Ever_Breastfed_or_Fed_Breastmilk,Age_Stopped_Breastfeeding_Days,Age_First_Fed_Formula_Days,Age_Stopped_Receiving_Formula_Days,Age_Started_Other_Food_Beverage,Age_First_Fed_Milk_Days,Type_of_Milk_First_Fed_Whole_Milk,...,Walk or bicycle,Number of days walk or bicycle,Minutes walk/bicycle for transportation,Vigorous recreational activities,Days vigorous recreational activities,Minutes vigorous recreational activities,Moderate recreational activities,Days moderate recreational activities,Minutes moderate recreational activities,Minutes sedentary activity
0,109266.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,1.0,5.0,60.0,1.0,4.0,30.0,480.0
1,109267.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,1.0,6.0,90.0,2.0,NaN,NaN,540.0
2,109268.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,540.0
3,109271.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,60.0
4,109273.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,1.0,4.0,120.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9688,124815.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,7.0,60.0,1.0,4.0,120.0,1.0,5.0,120.0,60.0
9689,124817.0,1.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,180.0
9690,124818.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,420.0
9691,124821.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,60.0
9692,124822.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,1.0,3.0,45.0,1.0,3.0,60.0,240.0

In [18]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9693 entries, 0 to 9692
Data columns (total 68 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Respondent_ID                                  9693 non-null   float64
 1   Doctor_Told_Diabetes                           9693 non-null   float64
 2   Age_When_First_Told_Diabetes                   1421 non-null   float64
 3   Ever_Breastfed_or_Fed_Breastmilk               0 non-null      float64
 4   Age_Stopped_Breastfeeding_Days                 0 non-null      float64
 5   Age_First_Fed_Formula_Days                     0 non-null      float64
 6   Age_Stopped_Receiving_Formula_Days             0 non-null      float64
 7   Age_Started_Other_Food_Beverage                0 non-null      float64
 8   Age_First_Fed_Milk_Days                        0 non-null      float64
 9   Type_of_Milk_First_Fed_Whole_Milk              0 non-null      float64
 10  Type_of_Milk_First_Fed_2_Percent_Milk          0 non-null      float64
 11  Type_of_Milk_First_Fed_1_Percent_Milk          0 non-null      float64
 12  Type_of_Milk_First_Fed_Fat_Free_Milk           0 non-null      float64
 13  Type_of_Milk_First_Fed_Soy_Milk                0 non-null      float64
 14  Type_of_Milk_First_Fed_Other                   0 non-null      float64
 15  How_Healthy_is_the_Diet                        9693 non-null   float64
 16  Past_30_Day_Milk_Product_Consumption           9693 non-null   float64
 17  You_Drink_Whole_or_Regular_Milk                2697 non-null   float64
 18  You_Drink_2_Percent_Fat_Milk                   2891 non-null   float64
 19  You_Drink_1_Percent_Fat_Milk                   799 non-null    float64
 20  You_Drink_Fat_Free_Skim_Milk                   452 non-null    float64
 21  You_Drink_Soy_Milk                             211 non-null    float64
 22  You_Drink_Another_Type_of_Milk                 889 non-null    float64
 23  Regular_Milk_Use_5_Times_Per_Week              9232 non-null   float64
 24  How_Often_Drank_Milk_Age_5_12                  6826 non-null   float64
 25  How_Often_Drank_Milk_Age_13_17                 6826 non-null   float64
 26  How_Often_Drank_Milk_Age_18_35                 6826 non-null   float64
 27  Community_Government_Meals_Delivered           3422 non-null   float64
 28  Eat_Meals_at_Community_Senior_Center           3422 non-null   float64
 29  Attend_Kindergarten_Thru_High_School           459 non-null    float64
 30  School_Serves_School_Lunches                   121 non-null    float64
 31  Number_of_Times_Per_Week_Get_School_Lunch      120 non-null    float64
 32  School_Lunch_Free_Reduced_Full_Price           87 non-null     float64
 33  School_Serve_Complete_Breakfast_Each_Day       121 non-null    float64
 34  Number_of_Times_Per_Week_Get_School_Breakfast  110 non-null    float64
 35  School_Breakfast_Free_Reduced_Full_Price       53 non-null     float64
 36  Summer_Program_Meal_Free_Reduced_Price         72 non-null     float64
 37  Number_of_Meals_Not_Home_Prepared              9693 non-null   float64
 38  Number_of_Meals_From_Fast_Food_or_Pizza_Place  7614 non-null   float64
 39  Number_of_Ready_to_Eat_Foods_in_Past_30_Days   9692 non-null   float64
 40  Number_of_Frozen_Meals_Pizza_in_Past_30_Days   9688 non-null   float64
 41  Heard_of_My_Plate                              9693 non-null   float64
 42  Looked_Up_My_Plate_on_Internet                 2100 non-null   float64
 43  Tried_My_Plate_Plan                            2100 non-null   float64
 44  Main_Meal_Planner_Preparer                     9693 non-null   float64
 45  Shared_Meal_Planning_Preparing_Duty            9693 non-null   float64
 46  Main_Food_Shopper                              9693 non-null   float64
 47  Shared_Food_Shopping_Duty                      9693 non-null   float64
 48  Gender                                         9693 non-null   float64
 49  Age_Years_Screening                            9693 non-null   float64
 50  Race_Hispanic_Origin_with_NH_Asian             9693 non-null   float64
 51  Country_of_Birth                               9693 non-null   float64
 52  Vigorous work activity                         9693 non-null   float64
 53  Number of days vigorous work                   2418 non-null   float64
 54  Minutes vigorous-intensity work                2402 non-null   float64
 55  Moderate work activity                         9693 non-null   float64
 56  Number of days moderate work                   4187 non-null   float64
 57  Minutes moderate-intensity work                4164 non-null   float64
 58  Walk or bicycle                                9693 non-null   float64
 59  Number of days walk or bicycle                 2253 non-null   float64
 60  Minutes walk/bicycle for transportation        2241 non-null   float64
 61  Vigorous recreational activities               9693 non-null   float64
 62  Days vigorous recreational activities          2422 non-null   float64
 63  Minutes vigorous recreational activities       2417 non-null   float64
 64  Moderate recreational activities               9693 non-null   float64
 65  Days moderate recreational activities          3904 non-null   float64
 66  Minutes moderate recreational activities       3893 non-null   float64
 67  Minutes sedentary activity                     9676 non-null   float64
dtypes: float64(68)
memory usage: 5.1 MB

In [19]:
df_merged.describe()

,Respondent_ID,Doctor_Told_Diabetes,Age_When_First_Told_Diabetes,Ever_Breastfed_or_Fed_Breastmilk,Age_Stopped_Breastfeeding_Days,Age_First_Fed_Formula_Days,Age_Stopped_Receiving_Formula_Days,Age_Started_Other_Food_Beverage,Age_First_Fed_Milk_Days,Type_of_Milk_First_Fed_Whole_Milk,...,Walk or bicycle,Number of days walk or bicycle,Minutes walk/bicycle for transportation,Vigorous recreational activities,Days vigorous recreational activities,Minutes vigorous recreational activities,Moderate recreational activities,Days moderate recreational activities,Minutes moderate recreational activities,Minutes sedentary activity
count,9693.000000,9693.000000,1421.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9693.000000,2253.000000,2241.000000,9693.000000,2422.000000,2417.000000,9693.000000,3904.000000,3893.000000,9.676000e+03
mean,117075.170329,1.884350,60.097115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.769009,4.833999,81.190986,1.750129,3.439719,84.638808,1.598679,3.574027,66.925507,3.992857e+02
std,4488.053213,0.431593,101.180847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.434981,5.230560,474.934885,0.432961,2.495324,290.473799,0.501840,3.171040,170.102938,8.064577e+02
min,109266.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,10.000000,1.000000,1.000000,10.000000,1.000000,1.000000,10.000000,5.397605e-79
25%,113201.000000,2.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,3.000000,20.000000,2.000000,2.000000,40.000000,1.000000,2.000000,30.000000,1.800000e+02
50%,117037.000000,2.000000,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,5.000000,30.000000,2.000000,3.000000,60.000000,2.000000,3.000000,50.000000,3.000000e+02
75%,120969.000000,2.000000,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,7.000000,60.000000,2.000000,5.000000,120.000000,2.000000,5.000000,60.000000,4.800000e+02
max,124822.000000,9.000000,999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,99.000000,9999.000000,2.000000,99.000000,9999.000000,9.000000,99.000000,9999.000000,9.999000e+03